* { margin: 0; padding: 0;}
img {width: 100%;}

body {
  overflow-x: hidden;
}

.swiper-item {
  height: 110px; overflow: hidden;
  position: absolute;
}

.swiper {
  position: relative;
  width: 375px;
  height: 110px;
}

.test {
  width: 375px;
  height: 100px;
  border: solid 1px red;
}
