* { margin: 0; padding: 0;}
img {width: 100%;}

body {
  overflow-x: hidden;
  background: #eed;
}

.series-item {
  padding: 0 .64rem;
}

.item-box {
  width: 6.4rem;
  height: 3.2rem;
  overflow: hidden;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0));
  /* box-shadow: 5px 5px 5px -5px #000,-5px 5px 5px -5px #000; */
  /* box-shadow: 5px 5px 5px -5px #000; */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0) inset; */
}

#expose, #two {
  margin-left: -.09rem;
}

.swipe-core-wh {
  width: 7.68rem;
  height: 3.20rem;
}

.swipe-core-main {
  perspective: 500px;
  -webkit-perspective-origin-y: 100px;
  /* perspective-origin: 10px; */
}

/* .curved_box {
    display: inline-block;
    *display: inline;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    position: relative;
    *zoom: 1;
}

.curved_box:before {
    -webkit-transform: skew(-15deg) rotate(-6deg);
    -moz-transform: skew(-15deg) rotate(-6deg);
    transform: skew(-15deg) rotate(-6deg);
    left: 15px;
}
.curved_box:after {
    -webkit-transform: skew(15deg) rotate(6deg);
    -moz-transform: skew(15deg) rotate(6deg);
    transform: skew(15deg) rotate(6deg);
    right: 15px;
}

.curved_box:before, .curved_box:after {
    width: 70%;
    height: 55%;
    content: ' ';

    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    position: absolute;
    bottom: 10px;
    z-index: -1;
} */

.box1 {
  height: 300px;
  background: rgba(255, 0, 0, .3);
}

.box2 {
  height: 200px;
  background: rgba(0, 255, 0, .3);
  word-break:break-all;
}

.box3 {
  height: 400px;
  background: rgba(0, 0, 255, .3);
}
