* { margin: 0; padding: 0;}
img {width: 100%;}

body {
  overflow-x: hidden;
}

.box {
  padding: 0 30px;
  height: 200px;
  overflow: hidden;
}

#expose, #two {
  margin-left: 30px;
}

.swipe-core-wh {
  width: 315px;
  height: 200px;
}

.swipe-core-main {
  perspective: 500px;
  -webkit-perspective-origin-y: 100px;
  /* perspective-origin: 10px; */
}
